/*Global Styling*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, "Roboto", BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Places List Styles */
#places-list {
	list-style-type: none;
	padding: 10px;
	/*height: calc(100vw-50px);*/
}

#places-list>li {
	cursor: pointer;
	padding: 5px;
}

#list-container {
	padding: 10px;
	width: 250px;
	float: left;
	height: 100%;
	overflow-y: auto;
	z-index: 1;
	position: absolute;
	background-color: #34888C;
  	color: white;
}

.closed {
	display: none;
}

/*Map Styles*/
#map-container {
	/*margin-left: 20%;*/
}

/* Header Styles */
#areaTitle {
	align-items:center;
	text-align: center;
	background-color: #34888C;
  	color: white;
	display: flex;
}

#areaTitle>h1 {
	margin: 0 auto;
	padding: 20px;
}

.hamburgerIcon {
	margin-left: 20px;
	background-color: transparent;
	width: 30px;
	height: 30px;
	background-image: url('./icons/hamburger-icon.svg');
	background-size: 100% 100%;
	cursor: pointer;
	outline: none;
	border: 0;
	font-size: 0;
	vertical-align: middle;
	align-self: center;
}